body{
    height: 100vh;
    background: linear-gradient(to bottom ,rgb(94, 81, 59) 50%, #232323 50%);
    
}

.container{
    text-align: center;
    margin-top:23px
    
}

table{
    margin: auto;
}


input{
    border-radius: 15px;
    background-color: lightgray;
    border: 5px solid #244624;
    font-size:34px;
    height: 65px;
    width: 456px;
}

button{
    border-radius: 122px;
    font-size: 40px;
    background: #00E6F6;
    font-weight: bold;
    width: 100px;
    height: 90px;
    margin: 6px;
}



.calculator{ 
    border: 4px solid #282a3a;
    background-color: #131313;
    padding: 23px;
    border-radius: 10px;
    display: inline-block;
    
}

button:hover{
    background-color: lightseagreen;

}
